# =====================================================================
# rating-service | .env.example  (copia a .env; NO subir .env)
# =====================================================================

# Servidor gRPC
GRPC_PORT=50056

# Conexion a rating_db
RATING_DB_HOST=rating-db
RATING_DB_PORT_INTERNAL=5432
RATING_DB_NAME=rating_db
RATING_DB_USER=rating_user
RATING_DB_PASSWORD=cambia_esta_clave
