
# ---- auth_db ----
AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=admin
AUTH_DB_PORT=5433

# ---- subscription_db ----
SUBSCRIPTION_DB_NAME=subscription_db
SUBSCRIPTION_DB_USER=subscription_user
SUBSCRIPTION_DB_PASSWORD=admin
SUBSCRIPTION_DB_PORT=5434

# ---- catalog_db ----
CATALOG_DB_NAME=catalog_db
CATALOG_DB_USER=catalog_user
CATALOG_DB_PASSWORD=admin
CATALOG_DB_PORT=5435

# ---- rating_db ----
RATING_DB_NAME=rating_db
RATING_DB_USER=rating_user
RATING_DB_PASSWORD=admin
RATING_DB_PORT=5436

# ---- fx_db ----
FX_DB_NAME=fx_db
FX_DB_USER=fx_user
FX_DB_PASSWORD=admin
FX_DB_PORT=5437

# ---- history_db ----
HISTORY_DB_NAME=history_db
HISTORY_DB_USER=history_user
HISTORY_DB_PASSWORD=admin
HISTORY_DB_PORT=5438

# ---- notification_db ----
NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_DB_USER=notification_user
NOTIFICATION_DB_PASSWORD=admin
NOTIFICATION_DB_PORT=5439

# ---- Redis (cache del fx-service) ----
REDIS_PASSWORD=admin
REDIS_PORT=6379
