# Entorno y Secretos

.env
.env.*
!.env.example
*.pem


# Node.js / Frontend (Next.js) / Backend (NestJS)

node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
pnpm-debug.log
dist/
build/
.next/
out/
coverage/
.turbo/
.vercel/


# Go

*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
vendor/
go.work


# Python

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/
.pytest_cache/


# Docker / Bases de datos
data/
pgdata/
*_data/


# Sistema Operativo y Editores

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
ehthumbs_vista.db
[Tt]humbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~