# =====================================================================
# catalog-service | .env.example  (copia a .env; NO subir .env)
# =====================================================================

# Servidor gRPC
GRPC_PORT=50053

# Conexion a catalog_db
CATALOG_DB_HOST=catalog-db
CATALOG_DB_PORT_INTERNAL=5432
CATALOG_DB_NAME=catalog_db
CATALOG_DB_USER=catalog_user
CATALOG_DB_PASSWORD=cambia_esta_clave
