
# Servidor gRPC
GRPC_PORT=50051

AUTH_DB_HOST=auth-db
AUTH_DB_PORT_INTERNAL=5432
AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=adimn
DB_SSLMODE=disable

# JWT
JWT_SECRET=merequetengue
JWT_TTL_MIN=60
